<!-- CONTACT -->
<div class="post-modal modal fade" id="section-contact" tabindex="-1" role="dialog" aria-labelledby="#sectionContactLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">


<section class="page-section" id="">
    <div class="container">
        <!-- Contact Section Heading-->
        <div class="text-center">
            <h2 class="page-section-heading text-secondary d-inline-block mb-0">Me contacter</h2>
        </div>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Contact Section Content-->
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="d-flex flex-column align-items-center">
                    <div class="icon-contact mb-3"><i class="fas fa-mobile-alt"></i></div>
                    <div class="text-muted">Téléphone</div>
                    <div class="lead font-weight-bold">
                        <p>06 05 10 15 20</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex flex-column align-items-center"  data-toggle="modal" data-target="#form-contact">
                <div class="icon-contact mb-3">
                        <i class="far fa-comment-dots"></i>
                    </div>
                    <div class="text-muted">Formulaire</div>
                    <div class="lead font-weight-bold">
                        <p>Ecrivez-moi</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex flex-column align-items-center">
                    <div class="icon-contact mb-3">
                        <i class="far fa-envelope"></i>
                    </div>
                    <div class="text-muted">Email</div>
                    <a class="lead font-weight-bold" href="mailto:name@example.com">
                        <p>j.jacquet.contact@gmail.com</p>
                    </a>
                </div>
            </div>
            <button class="btn btn-primary mt-5" href="#" data-dismiss="modal">Fermer<i class="fas fa-times fa-fw"></i></button>
        </div>
        
    </div>
</section>

</div></div></div>