<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- PAGE TITLE -->
        <title>{{ pageTitle }}</title>
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/sketchy/bootstrap.min.css">

        
    </head>
    <body>

    <!-- HEADER -->
    {% block header %}{% endblock %}

    <!-- CONTENT -->
    {% block content %}{% endblock %}

    <!-- FOOTER -->
    {% block footer %}{% endblock %}

    <!-- JS SCRIPTS -->
    {% block scripts %}{% endblock %}
        
    </body>
</html>
